<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :氏名 %><br>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :メールアドレス %><br>
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <%= form.label :パスワード %><br>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :パスワード（確認） %><br>
    <%= form.text_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit :登録,class: 'btn btn-success'%>
  </div>
<% end %>
